* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}




body {

    background: rgb(254, 215, 173);

}

nav {
    width: 100%;
    position: static;
    top: 0;
    margin: 10px;
    z-index: 20;
}


.nav-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}

.logo span {
    color: rgb(109, 67, 0);
    text-shadow: 0 0 10px rgb(109, 67, 0);
}

.nav-container .menu {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

.nav-container .menu a {
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s linear;
}

.nav-container .menu a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(109, 67, 0);
    transition: 0.2s linear;
}

.nav-container .menu a:hover::before {
    width: 100%;
}

.container {
 
  border-radius: 0.5em;
  padding: 20px;
 

  column-width: 10em;
  column-rule: 1px solid rgb(75 70 74);
}