Pular para o conteúdo principal
Google Sala de Aula
Sala de Aula
Front-End
Início
Agenda
Minhas inscrições
Pendentes
F
Front-End
Turmas arquivadas
Configurações
Mural
Atividades
Pessoas
Front-End
Próximas atividades
Data de entrega: sexta-feira
Implementado o CSS

Postada por Natália Lima De Oliveira
Natália Lima De Oliveira
Criado em: 14:2614:26 (editado: 16:25)
código:
informativo.html
HTML

style_informativo.css
CSS


Postada por Caio Velten
Caio Velten
Criado em: OntemOntem
https://github.com/Velten1/game-refactor
Atividade: "Implementado o CSS"
Natália Lima De Oliveira postou uma nova atividade: Implementado o CSS
Criado em: 30 de jan.30 de jan.

Postada por Natália Lima De Oliveira
Natália Lima De Oliveira
Criado em: 30 de jan.30 de jan.
Referência de Seletores: https://developer.mozilla.org/pt-BR/docs/Web/CSS/Reference/Selectors
Referência de Atributos CSS: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties

Postada por Natália Lima De Oliveira
Natália Lima De Oliveira
Criado em: 30 de jan.30 de jan. (editado: 30 de jan.)
Segue o código fonte de referência da aula de hoje:
interface.html
HTML

styles.css
CSS


Postada por Yascara Waiedly
Yascara Waiedly
Criado em: 29 de jan.29 de jan.
https://github.com/Yaswaiedly/Estudos_HTML_Front-End

Postada por Natália Lima De Oliveira
Natália Lima De Oliveira
Criado em: 29 de jan.29 de jan. (editado: 29 de jan.)
Referência de Instalação do GIT no windows: https://git-scm.com/book/pt-br/v2/Come%C3%A7ando-Instalando-o-Git
repositório de teste: https://github.com/alimadeoliveiranatalia/agenda_pediatrica_code_wise.git
Referência de Comandos GIT: https://git-scm.com/cheat-sheet

Postada por Natália Lima De Oliveira
Natália Lima De Oliveira
Criado em: 28 de jan.28 de jan. (editado: 28 de jan.)
Glossário Referência sobre semântica no HTML: https://developer.mozilla.org/pt-BR/docs/Glossary/Semantics
Link para a inscrição na plataforma do GITHUB:https://github.com/

Postada por Natália Lima De Oliveira
Natália Lima De Oliveira
Criado em: 28 de jan.28 de jan.
Questão 22: <!-- Crie um link de âncora que leve o
 usuário para o Rodapé da página-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Ancora</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <ul>
                    <li><a href="http://">Inicio</a></li>
                    <li><a href="#rodape">Rodapé</a></li>
                    <li><a href="http://">Nossa Localização</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h1>Primeira Sessão</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic repellat numquam, omnis maxime exercitationem eaque quis reprehenderit. Debitis quae, esse nam possimus voluptatem atque doloremque? Deleniti sequi iure omnis distinctio.</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sint laborum cum facere aperiam, consequatur nulla ullam ipsa, a quidem eos ea. At, dolores! Facilis sit tempore natus doloribus reiciendis!
            </p>
        </section>
        <section>
            <h1>Segunda Sessão</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi nam magnam blanditiis magni, atque alias vitae deleniti. Mollitia inventore nam voluptatum distinctio saepe maiores sint, vero quasi delectus illo.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi molestiae tempora eveniet consectetur corporis natus eos quo, officiis dolor harum debitis! Id incidunt, consequuntur voluptatibus ipsam doloremque voluptatem eveniet obcaecati.</p>
        </section>
        <footer id="rodape">
            <p>Todos os direitos reservados</p>
        </footer>
    </main>
</body>
</html>

Postada por Natália Lima De Oliveira
Natália Lima De Oliveira
Criado em: 27 de jan.27 de jan.
Desafio, estruture o código:
game.html
HTML


Postada por Natália Lima De Oliveira
Natália Lima De Oliveira
Criado em: 27 de jan.27 de jan. (editado: 27 de jan.)
Segue nosso material explorado hoje: https://docs.google.com/presentation/d/1DDlWg0NlaX59dCQ50w6v0eW81f8o6leF/edit?usp=drive_link&ouid=108277889112135175376&rtpof=true&sd=true
Referência de Tags do HTML documentação do Morzilla: https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements
Atividade: "Treinando HTML"
Natália Lima De Oliveira postou uma nova atividade: Treinando HTML
Criado em: 27 de jan.27 de jan.

Postada por Natália Lima De Oliveira
Natália Lima De Oliveira
Criado em: 27 de jan.27 de jan.
Saudações Pessoal 🤗. Bem vindos ao nosso espaço de sala de aula, aqui serão postados nossas atividades, materiais explorados em sala de aula.
Mural
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #6366f1;
    --secondary: #ec4899;
    --bg-body: #f1f5f9;
    --bg-card: #ffffff;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --border-color: #e2e8f0;
    --bg-button-group: #f8fafc;
    --footer-card: #eef2ff;
    --footer-card-100:#fdf2f8;
    --footer-border: #c7d2fe;
    --footer-border-100: #fbcfe8;
    --footer-color: #3730a3;
    --footer-color-100:#9d174d;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.wrapper {
    /*border: 1px solid var(--primary);*/
    max-width: 1100px;
    width: 100%;
}
header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls-panel {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.controls-card {
    flex: 1;
    min-width: 300px;
    background: var(--bg-card);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
}
.controls-card h3 {
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}
.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.button-group {
    display: flex;
    background: var(--bg-button-group);
    padding: 5px;
    border-radius: 8px;
    gap: 5px;
}
.btn {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    color: var(--text-muted);
    background: transparent;
}
.btn.active-flex {
    background: var(--bg-card);
    color: var(--primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.btn.active-grid {
    background: var(--bg-card);
    color: var(--secondary);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.demo-container {
    min-height: 400px;
    padding: 25px;
    background: var(--bg-button-group);
    border-radius: 15px;
    border: 2px dashed #cbd5e1;
    transition: all 0.4s ease;
}
.mode-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.mode-flex .gallery-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
}
.gallery-item {
    background: var(--bg-card);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.gallery-item:hover {
    transform: translateY(-5px);
}
.content-box {
    padding: 15px;
}
.content-box h4 {
    margin: 0 0 8px 0;
    color: var(--text-main);
}
.content-box p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.4;
}
.info-footer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}
.info-box {
    padding: 20px;
    border-radius: 12px;
}
.info-box h4 {
    margin-top: 0;
}
.info-box ul {
    padding-left: 20px;
    font-size: 0.95rem;
}
.info-box li {
    margin-bottom: 8px;
}
.info-flex {
    background: var(--footer-card);
    border: 1px solid var(--footer-border);
    color: var(--footer-color);
}
.info-grid {
    background: var(--footer-card-100);
    border: 1px solid var(--footer-border-100);
    color: var(--footer-color-100);
}
